.spam-container {
	border: 1px solid black;
	padding: 10px;
	margin: 10px auto;
	width: 900px;
}

.spam-info {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
}

.info-left,
.info-right,
.button-container {
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}

.info-left {
	width: 400px;
}

.info-right {
	width: 300px;
}

button {
	width: 100px;
	height: 25px;
	border-radius: 5px;
	margin: auto;
}
